<head>
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Merriweather|Open+Sans|Roboto:300,400&display=swap" rel="stylesheet">
</head>

<h1> Attendance Report </h1>

<div class="header">
<p>
	<strong> For Attendee:</strong>
	<%= @attendee.name %>
</p>
</div>

<p> 
	<table>
	<!-- <%= render @attendee.events %> --> 
		<table border = "1" cellpadding = "5" cellspacing = "5" width = "800" height = "80">
		<tr>
			<th style = "background-color: grey">Event</th>
			<th style = "background-color: grey">Date</th>
			
		</tr>

		
		<% @attendee.events.each do |event| %> 
			<tr> 
				<td> <%= event.title %></td> 
				<td> <%= event.created_at.strftime("%B %d, %Y") %></td> 

			</tr>
		<% end %>  
		
		<% @attendee.subscriptions.each do |subscription| %> 
			<tr> 
				<% if subscription.subscribable_type == 'Event' %>
					<td>  <%= link_to Attendee.find(subscription.subscribable_id).duid, attendee_path(Attendee.find(subscription.subscribable_id)) %> </td>
					<td> <%= subscription.created_at.strftime("%I:%M %p") %> </td>
				<% end %>

			</tr>
		<% end %>


	</table>
</p>

