<head>
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Merriweather|Open+Sans|Roboto:300,400&display=swap" rel="stylesheet">
	<title>Host Sign-up</title>
</head>


<div class = "banner" style="margin-bottom: 0px">
<h2 class="event_header">
	<%= @event.title %>
</h2>
</div>

<div class="card" style="position: relative; height: 150px">
	<%= form_for :event_host_subscription, url: "/events/#{@event.id}/addHost" do |f| %>
	  <%= hidden_field_tag "event_host_subscription[id]", @event.id %>
	  <h2><%= f.label "HOST ID"%></h2>
	  <%= f.text_field :subscribable_id, :class=>'text-field-edit', :required=>true, :minlength => 3, :maxlength => 5 %>
	  <%= f.submit "Add Host", :class=>'button-edit' %>
	<% end  %>
</div>
