<h1>All Events</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed form-control'
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'events/list',
  locals: { events: @events }
) %>


<!-- 
<table id="thisTable">
	<table border = "1" cellpadding = "5" cellspacing = "5" width = "800" height = "80">
	<tr class="header">
		<th>Title</th>
		<th>ID</th>
		<th>Date</th>
		<th>Hosts</th>
		<th>Number of Attendees</th>
		<th>Attendees</th>
		
	</tr>

	<% @events.each do |event| %>
		<tr> 
			<td> <%=event.title %></td>
			<td> <%= event.eventid %></td>
			<td> <%= event.created_at.strftime("%B %d, %Y") %></td>
			<% event.hosts.each do |host| %>
				<td><%= link_to host.hostid, host_path(host) %></td>
			<% end %>
			<td> <%= event.attendees.count %></td>
			<td><%= link_to 'Show Details', event_path(event) %></td>
		</tr>
	 <% end %> 
</table> -->
