<% require 'net/http'
require 'json'
require 'uri'

 

url = "https://calendar.duke.edu/events/index.json?&future_days=90&feed_type=simple"
uri = URI.parse(url)
http = Net::HTTP.new(uri.host, uri.port)
http.use_ssl = true
request = Net::HTTP::Get.new(uri.request_uri)
response = http.request(request).body
doc = JSON.parse(response)
@events_array = doc["events"]

 

$events_hash = Hash.new

 

@events_array.each do |event| 
    #puts event["summary"].strip()
    #@event_titles.push(event["summary"].strip())
    #event_ids.push(event["id"])
    $events_hash[event["summary"]] = event["id"]
end


 

@title_array_from_hash = $events_hash.keys %>

<h1>SIGN UP AS HOST</h1>

<%= form_for :event_host_subscription, url: "/events/new" do |f| %>
  <%= f.collection_select :title, @title_array_from_hash, :to_s, :to_s, :include_blank => true %>
  <%= f.label "HOST ID" %>
  <%= f.text_field :subscribable_id %>
  <%= f.submit "Make Me A Host" %>
<% end  %>
 