<% require 'net/http'
require 'json'
require 'uri'

@database_events = Event.all
@database_events.each do |event|
	if event.hosts.pluck(:hostid).include?(@myNetID)
		puts event
		@my_events << { "id" => event.eventid, "summary" => event.title } #this is a different type than line 120...
	end
end

url = "https://calendar.duke.edu/events/index.json?&future_days=90&feed_type=simple&local=true"
uri = URI.parse(url)
http = Net::HTTP.new(uri.host, uri.port)
http.use_ssl = true
request = Net::HTTP::Get.new(uri.request_uri)
response = http.request(request).body
doc = JSON.parse(response)
@events_array = doc["events"]

$events_hash = Hash.new

@events_array.each do |event| 
    if event["submitted_by"] != nil
    	#if event.hosts.pluck(:hostid).include?(current_user.netid)
		if event["submitted_by"][0].strip() == current_user.netid
			$events_hash[event["summary"].strip()] = event["id"].strip()
		end
	end
end
@title_array_from_hash = $events_hash.keys.sort %>

<head>
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Merriweather|Open+Sans|Roboto:300,400&display=swap" rel="stylesheet">
	<title>Host Sign-up</title>
</head>


<div class="banner">
	<h1>Sign Up As Host</h1>
</div>

<div class="nav">

</div>

<div class="card" style="position: relative; height: 150px">
	<%= form_for :event_host_subscription, url: "/events/new" do |f| %>
	<h2><%= f.label "EVENT" %></h2>
	  <%= f.collection_select :title, @title_array_from_hash, :to_s, :to_s, {:prompt => 'Find your event by title'}, {:class=>'collection', required: true} %> <br>
	  <%= hidden_field_tag "event_host_subscription[subscribable_id]", current_user.netid %>
	  <%= f.submit "Make Me A Host", :class=>'button' %>
	<% end  %>
</div>

<div>
	<p>If your event isn't listed, submit it on <a href="http://calendar.duke.edu/eventsubmit?setappvar=confirmed(no)">Duke Calendar</a></p>
</div>

<div class="redirect_link">
<p><%= link_to "Back to Home", '/' %></p>
</div>