<p class="redirect_link"><%= link_to "Back to all events", '/events' %></p>

<h2>
	<%= @event.title %>
</h2>


<p>
	<strong> Event ID:</strong>
	<%= @event.eventid %>
</p>

<p>
	<strong> Date:</strong>
	<%= @event.created_at.strftime("%B %d, %Y") %>

</p>

<p>
	<strong> Start Check-In Time: </strong>
	<%= @event.created_at.strftime("%I:%M %p") %> 
</p>

<%= link_to "Download CSV", event_path(format: "csv") %>

<p> 
	<strong> Attendee Data: </strong>
	<table>
		<table border = "1" cellpadding = "5" cellspacing = "5" width = "800" height = "80">
		<tr>
			<th style = "background-color: grey">Attendee Name</th>
			<th style = "background-color: grey">DUID</th>
			<th style = "background-color: grey">Check-in Time</th>
		</tr>


		<% @event.subscriptions.each do |subscription| %> 
			<tr> 
				<% if subscription.subscribable_type == 'Attendee' %>
					<td>  <%= link_to Attendee.find(subscription.subscribable_id).name, attendee_path(Attendee.find(subscription.subscribable_id)) %> </td>
					<td>  <%= Attendee.find(subscription.subscribable_id).duid %> </td>
					<td> <%= subscription.created_at.strftime("%I:%M %p") %> </td>
				<% end %>

			</tr>
		<% end %>

	</table>
</p>

 <%# render @event.attendees %> 

