
<head> 
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Merriweather|Open+Sans|Roboto:300,400&display=swap" rel="stylesheet">
</head>


<div class = "banner" style="margin-bottom: 0px">
<h2 class="event_header">
	<%= @event.title %>
</h2>
</div>

<div class = "header">
<p> 
<strong>Date:</strong>
<%= @event.created_at.strftime("%B %d, %Y") %>
</p>

<p>
<strong>Start Check-In Time:</strong>
	<%= @event.created_at.strftime("%I:%M %p") %> 
</p>


<p>
<%= link_to "Download CSV", event_path(format: "csv") %>
</p>
</div>


<p> 
	<table>
		<table border = "1" cellpadding = "5" cellspacing = "5" width = "800" height = "80">
		<tr>
			<th style = "background-color: grey">Attendee Name</th>
			<th style = "background-color: grey">DUID</th>
			<th style = "background-color: grey">Check-in Time</th>
			<th style = "background-color: grey">Check-out Time</th>
			<th style = "background-color: grey">Duration</th>
		</tr>


		<% @event.subscriptions.each do |subscription| %> 
			<tr> 
				<% if subscription.subscribable_type == 'Attendee' %>
					<td>  <%= link_to Attendee.find(subscription.subscribable_id).name, attendee_path(Attendee.find(subscription.subscribable_id)) %> </td>
					<td>  <%= Attendee.find(subscription.subscribable_id).duid %> </td>
					<td> <%#= subscription.created_at.strftime("%I:%M %p") %> </td>
					<td> <%#= DateTime.parse(subscription.checkout_time).strftime('%H:%M %p') %> </td>
					<td> <%#= (( subscription.created_at - DateTime.parse(subscription.checkout_time) )/1.minute).round.abs %> minutes</td>
				<% end %>

			</tr>
		<% end %>

	</table>
</p>

<div class="redirect_link"> 
<p><%= link_to "Back to all events", '/events' %></p>
</div>
 <%# render @event.attendees %> 

